.color-container{
    background-color:  #ffffe6;
}

.headTitle{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}


.recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

