.btnShosanim{
    margin: 50px 0px 0px 30px;
}

.img1{
    height: 200px;
    position: absolute;
    z-index: -1;

}

.btnAll{
    margin: 160px 0px 0px 50px;
    height: 30px;
    width: 150px;
    border-color: pink;
    border-radius: 15px;
    color: black;
    font-size: 15px;
}
