.footer{
    margin-bottom: -400px;
    background-color: grey;
    height: 180px;
    position: absolute;
    bottom:0;
    width: 100%;
}

hr{
    width: 8%;
    margin-right:12%;
    color: white;
}

.writeUse{
    font-size: 20px;
    margin: 10px 0px 0px 1130px;
}

.Name{
    margin-left: 65%;
    width: 15%;
}

.massage{
    margin: -80px 0px 0px 650px;
    width: 15%;
    height: 120px;
}

.icon{
    margin:-10px 0px 0px 20px;
}

.sendButton{
    margin:-60px 0px 0px 500px;
}

input[type="text"]::placeholder { 
    text-align: right;
    direction: rtl;
}
