.footer{
    background-color: grey;
    height: 180px;
    position:static;
    bottom:0;
    left:0;
    right:0;
}

hr{
    width: 8%;
    margin-right:10%;
    color: white;
}

.writeUse{
    font-size: 20px;
    margin-left: 83%;
}
.information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    direction: rtl;
    margin-right: 20%;
}
.details{
    margin-left: 10px;
}

.icon{
    margin:-10px 0px 0px 20px;
}

.sendButton{
    margin:-40px 0px 0px 500px;
}

input[type="text"]::placeholder { 
    text-align: right;
    direction: rtl;
}
