.footer{
    margin-top: 20px;
    background-color: grey;
    height: 180px;
}

.writeUse{
    text-align: right;
    margin-left: 20%;    
}

.Name{
    margin-left: 65%;
    width: 15%;
}

.massage{
    margin: -80px 0px 0px 650px;
    width: 15%;
    height: 120px;
}

.icon{
    margin:-10px 0px 0px 20px;
}

.sendButton{
    margin:-60px 0px 0px 500px;
}

input[type="text"]::placeholder { 
    text-align: right;
    direction: rtl;
}
