.all{
    margin-top: 10px;
}

.headline{
    font-size: 20px;
    text-align:right;
    margin-right: 110px;
}

.hr1{
    width: 10%;
    margin-right:9%;
    color:  #f2f2f2;
}
.hr2{
    width: 11%;
    margin-right: 9%;
    color:  #f2f2f2;
}
.hr3{
    width: 6%;
    margin-right: 9%;
    color:  #f2f2f2;
}
.AboutTheFood{
    text-align: right;
    margin-left: 23%;
    line-height: 2;
    width: 900px;
    white-space: pre-wrap;

}

.AboutMe{
    text-align: right;
    margin-left: 56%;
    width: 500px;
    white-space: pre-wrap;
    line-height: 2;
    height: 150px;
}

#PurpleImg{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 25%;
    background-size: cover;
}

ul{
    direction: rtl;
    list-style-type:circle;
    margin-right: 20px;
    line-height: 2;

}


#Me{
    width:15%;
    margin: -180px 0px 0px 400px;
}