
.background2{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 900px;
    background-size: cover;
    margin-top: -110px;
}

.saladsImg{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 850px;
    background-size: cover;
    margin-top: 33px;

}
.cookiesImg{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 700px;
    background-size: cover;
    margin-top: 40px;
}
.background1{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 700px;
    background-size: cover;
    margin-top: 30px;
}